// main: style.less
// Common Styles //
body,
html {
  font-family: @base-font;
}

input {
  border-color: @base-border-color;
  padding: 10px;
}

label {
  font-weight: normal;
  display: block;
}

img {
  max-width: 100%;
  margin: 0;
}

a {
  color: #428bca;
  text-decoration: underline;
  &:hover {}
}

h1,
h2,
h3 {
  margin: 10px 0;
}

h3 {
  font-size: 16px;
  margin-bottom: 20px !important;
  padding: 10px 0px;
}

h4 {
  text-transform: uppercase;
  font-weight: @bold;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(92, 96, 107, 0.2);
}

h5 {
  text-transform: uppercase;
  font-weight: @bold;
  padding-bottom: 5px;
  font-size: 15px;
}

ul {
  font-size: 14px;
  background: #FFF;
  .activeDropDown1 > ul {
    display: block;
    z-index: 1000;
  }
}

hr {
  margin: 10px 0px;
}

.secondary-color {
  a {
    color: @brand-secondary-color !important;
  }
}

.panel-group,
.list-group {
  margin-bottom: 0px !important; //accordion fix
}

// Buttons //
.btn-primary {
  border: 0px;
  background: #8ccc1b;
  background-image: -webkit-linear-gradient(top, #8ccc1b, #76c11b);
  background-image: -moz-linear-gradient(top, #8ccc1b, #76c11b);
  background-image: -ms-linear-gradient(top, #8ccc1b, #76c11b);
  background-image: -o-linear-gradient(top, #8ccc1b, #76c11b);
  background-image: linear-gradient(to bottom, #8ccc1b, #76c11b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 35px 8px 35px;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    background: #76c11b;
    background-image: -webkit-linear-gradient(top, #76c11b, #8ccc1b);
    background-image: -moz-linear-gradient(top, #76c11b, #8ccc1b);
    background-image: -ms-linear-gradient(top, #76c11b, #8ccc1b);
    background-image: -o-linear-gradient(top, #76c11b, #8ccc1b);
    background-image: linear-gradient(to bottom, #76c11b, #8ccc1b);
    text-decoration: none;
  }
}

.btn-secondary {
  margin: 9px 12px;
  font-weight: @bold;
  background: #ff8100;
  background-image: -webkit-linear-gradient(top, #ff8100, #e74600);
  background-image: -moz-linear-gradient(top, #ff8100, #e74600);
  background-image: -ms-linear-gradient(top, #ff8100, #e74600);
  background-image: -o-linear-gradient(top, #ff8100, #e74600);
  background-image: linear-gradient(to bottom, #ff8100, #e74600);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  color: #FFF;
  font-size: 16px;
  padding: 4px 15px 4px 15px;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    background: #e74600;
    background-image: -webkit-linear-gradient(top, #e74600, #ff8100);
    background-image: -moz-linear-gradient(top, #e74600, #ff8100);
    background-image: -ms-linear-gradient(top, #e74600, #ff8100);
    background-image: -o-linear-gradient(top, #e74600, #ff8100);
    background-image: linear-gradient(to bottom, #e74600, #ff8100);
    color: #FFF;
    text-decoration: none;
  }
}

.btn-standard {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  background: #009efa;
  padding: 4px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: @semibold;
  &:hover,
  &:focus,
  &:active {
    background: #3498db;
    text-decoration: none;
    color: #FFF;
  }
}

.btn-delete {
  background: transparent;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border: 1px solid #CCC;
  border-radius: 50%;
  &:hover,
  &:active {
    border: 1px solid @brand-primary-color;
    img {
      content: url('remove-on.png');
    }
  }
}

.btn-cancel {
  background: transparent;
  color: #f62a2a;
  font-weight: @semibold;
  border-bottom: 1px solid #f62a2a;
  border-radius: 0;
  padding: 1px 0px;
  margin: 0px 10px;
  &:hover,
  &:focus,
  &:active {
    color: #f10a0a;
    border-bottom: 1px solid #f10a0a;
  }
}

.btn-close {
  width: 27px;
  height: 26px;
  border-radius: 50%;
  background: #e9e9e9;
  padding: 0;
  text-align: center;
  img {
    margin: 0 auto;
    margin-top: -2px;
  }
  &.inverse {
    background: #848484;
  }
}

.btn-inactive {
  background: transparent;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  padding: 9px 18px 7px 16px;
  border-color: @base-grey-color;
  color: @base-grey-color;
  font-weight: 600;
  float: left;
  &:hover {
    background-color: @base-grey-color;
    color: #fafafa;
  }
  img {
    margin-top: -4px;
  }
}

.radio-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 15px;
  margin-right: 15px;
  position: relative;
  padding-left: 25px;
  &:before {
    bottom: 1px;
    content: url(radio.png);
    display: inline-block;
    height: 15px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 15px;
  }
}

.checkbox-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-left: 25px;
  position: relative;
  &:before {
    content: url(checkbox.png);
    display: inline-block;
    height: 15px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    width: 15px;
  }
}

// Tables and Forms //
.table {
  margin-bottom: 165px;
  margin-top: 15px;
  > thead {
    > tr {
      > th {
        background-color: #d5eef9;
        border: 0;
      }
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type=radio]:checked + .radio-btn:before {
  content: url(radio-cheked.png);
}

input[type=checkbox]:checked + .checkbox-btn:before {
  content: url(checked_checkbox.png);
}

.seo {
  .seo-google {
    background-color: #f2f2f2;
    padding: 7px 10px;
    h5 {
      color: #0060d6;
      margin: 0;
      text-transform: none;
      font-weight: 600;
    }
    .url {
      color: #006e00;
      display: block;
      margin: 5px 0px;
    }
  }
  label {
    font-size: 15px;
    color: #000;
    span {
      font-size: 11px;
      color: @base-grey-color;
    }
  }
  hr {
    margin-top: 0;
  }
}

.proteggi {
  .row {
    margin-top: 20px;
  }
}

.open-third-stage {
  margin: 20px 10px 10px 10px;
  text-align: center;
  a {
    display: block;
    margin-top: 10px;
  }
  hr {
    margin-top: 35px;
  }
}

// Navigation and Content //
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
}

nav {
  background-color: @nav-background-color;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  min-height: 50px;
  font-family: @base-font;
  .left-part {
    li {
      border-left: 1px solid @base-border-color;
    }
  }
  .right-part {
    li {
      border-right: 1px solid @base-border-color;
    }
    .drop-down {
      li {
        padding: 5px;
      }
      img {
        position: absolute;
        top: 12px;
        left: 9px;
      }
    }
  }
  .logo-section {
    padding: 5px 15px;
    display: block;
    height: 50px;
    img {
      margin: 2px 0px;
    }
  }
  .languages {
    a {
      padding: 10px 15px !important;
      img {
        max-height: 20px;
      }
    }
    .dropdown-menu {
      border-radius: 0 0 4px 4px;
      min-width: 80px !important;
      width: 80px !important;
    }
    ul {
      max-width: 100%;
    }
  }
  .notification {
    background-color: @brand-secondary-color;
    font-family: @base-font;
    border-radius: 50%;
    color: #FFF;
    height: 21px;
    width: 21px;
    font-size: 10px;
    position: absolute;
    top: 4px;
    left: 5px;
  }
  .mainmenu {
    background-color: @nav-background-color;
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      border-top: 3px solid transparent;
      border-bottom: 0;
      float: left;
      position: relative;
      height: 53px;
      li {
        position: relative;
      }
      ul {
        position: absolute;
        left: 0;
        margin-top: 2px;
        li {
          ul {
            position: absolute;
            left: 160px;
            top: 0px;
          }
        }
      }
      &.drop-down {
        i {
          &.fa-angle-down {
            opacity: 0.5;
            padding-left: 5px;
          }
        }
      }
      > a {
        display: inline-block;
        width: auto;
        padding: 15px;
        font-size: 13px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        color: #404554;
      }
      &:hover {
        border-top: 3px solid @brand-primary-color;
        background: #FFF;
        > a {
          color: @brand-primary-color;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 160px;
      li {
        > a {
          color: #666;
          display: block;
          padding: 10px;
          text-decoration: none;
        }
        &:hover > a {
          color: @brand-primary-color;
          background: #FFF;
        }
      }
    }
    .modifika {
      position: relative !important;
      i:first-child {
        margin-right: 5px;
      }
    }
    .sub-menu {
      padding: 10px 10px 10px 25px;
      min-width: 200px;
      width: auto;
      li {
        padding: 0;
        border: 0;
        &.log-out {
          a {
            border-top: 1px solid #f2f2f2;
            padding: 10px 5px;
            margin-top: 10px;
          }
        }
        a {
          padding: 5px;
          font-size: 13px;
        }
      }
    }
    .settings {
      max-width: 550px;
      ul {
        position: relative;
        box-shadow: none;
        width: 100%;
        li {
          padding: 0;
          border: 0;
          a {
            padding: 2px 5px;
            font-size: 14px;
            color: #666666;
          }
        }
      }
    }
  }
}

.navbar-right .dropdown-menu {
  left: 0;
  margin-top: 2px !important;
}

.menu-settings-dropdown {
  margin-top: 5px;
  display: none;
  position: absolute;
  width: 1250px;
  background: #FFF;
  > div {
    > div {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      padding: 15px 10px;
      .security {
        background-color: #f2fafe;
        text-align: center;
        padding: 50px 20px;
        p {
          text-align: left;
          margin-top: 20px;
        }
      }
      ul {
        list-style: none;
        li {
          padding: 5px 0;
          a {
            color: @base-grey-color;
            text-decoration: none;
          }
          &:hover {
            a {
              color: @brand-primary-color;
            }
          }
        }
        li:last-child {
          margin-top: 15px;
        }
      }
    }
  }
}

.menu-mod-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 1250px;
  padding-left: 147px;
  > div {
    margin: 0;
  }
  .page-nav-dropdown {
    width: 30%;
    float: left;
    h4 {
      border: 0;
    }
  }
  .page-dropdown-options {
    width: 70%;
    float: left;
    input {
      margin: 0 0px 10px 0px;
      border: 2px solid #e9e9e9;
      padding: 5px;
      width: 100%;
    }
    p {
      font-size: 12px;
      color: #999;
    }
    label {
      font-size: 13px;
    }
  }
  #pagina {
    padding: 0;
    margin-top: 3px;
    ul {
      background-color: #f2f2f2;
      border: none;
      box-shadow: none;
      margin-left: 19px;
      width: calc(100% - 19px);
      z-index: 999;
      margin-top: 12px;
      li {
        border: none;
        margin: 0;
        text-decoration: uppercase;
        a {
          border: none;
          font-weight: 600;
          color: @base-grey-color;
        }
        &.active {
          a {
            color: @brand-primary-color;
          }
        }
      }
    }
    .tab-content {
      background-color: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      margin: 0px 10px 10px 10px;
      width: calc(100% - 20px);
      padding-bottom: 10px;
    }
    .top-section {
      background-color: @base-dark-grey-color;
      color: #FFF;
      font-size: 16px;
      min-height: 40px;
      padding: 10px 15px;
      img {
        cursor: pointer;
      }
    }
    .bottom-section {
      background-color: #f2f2f2;
      min-height: 100px;
      vertical-align: middle;
      text-align: right;
      padding: 5px 10px;
      a {
        color: #fc8585;
      }
    }
  }
  ul {
    padding-right: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    left: 0;
    margin-top: 3px;
    list-style: none;
    padding: 0;
    z-index: 1001;
    .list_title {
      border-bottom: 1px solid @base-border-color;
      padding: 10px 15px;
      h4,
      img {
        display: inline;
      }
    }
    .search {
      position: relative;
      margin: 0px 10px;
      input {
        background-color: #e9e9e9;
        border: 1px solid #e9e9e9;
        color: #a3a3a3;
        margin-top: 10px;
        border-radius: 2px;
        padding: 5px 10px;
        width: 100%;
      }
      i {
        color: #a3a3a3;
        position: absolute;
        top: 19px;
        right: 10px;
      }
    }
    li {
      & > a {
        color: #000;
        display: block;
        font-size: 13px;
        padding: 10px 15px;
        text-decoration: none;
      }
      &:hover > a {
        color: @brand-primary-color;
        background: #FFF;
      }
      ul {
        position: absolute;
        left: 160px;
        top: 0px;
      }
    }
    li {
      a {
        background-color: #f9f9f9;
        border: 1px solid #dddddd;
        border-radius: 3px;
        margin: 6px 10px;
        position: relative;
        color: #000;
      }
      &.third-grade+ol {
        display: none;
      }
      .changer {
        background-image: url('min.png');
        min-height: 17px;
        min-width: 17px;
        background-repeat: no-repeat;
        position: absolute;
        top: 29%;
        left: -8px;
        & + a {
          padding-left: 10px;
        }
      }
      .collapsed {
        .changer {
          background-image: url('plus.png');
        }
        &.third-grade+ol {
          display: block;
        }
      }
    }
    .fa-cog {
      margin: 3px;
    }
  }
  ol {
    list-style: none;
    .list-group-item {
      background: url('tree.png') no-repeat left 30px center;
      padding: 0;
      padding: 3px 0px;
      border-radius: 2px;
      border: 0px;
      a {
        margin: 0px 10px;
        margin-left: 50px;
      }
      &:last-child {
        background: url('tree-last.png') no-repeat left 30px top;
      }
    }
  }
}

.layout-options {
  overflow: hidden;
  padding-bottom: 35px;
  img {
    max-height: 60px;
    margin-right: 20px;
  }
  label {
    float: left;
    margin-right: 5px;
  }
}

.nav-tabs {
  li {
    a {
      margin: 0px !important;
      background: transparent !important;
    }
    &.active {
      background: #FFF !important;
    }
  }
}


/* NAVIGATION SPRITES */

.nav-favourite,
.nav-support,
.nav-desktop,
.nav-user {
  width: 55px !important;
  height: 51px;
}

.nav-favourite {
  background: url('heart.png') 0 0;
  &:hover {
    background: url('heart.png') 0 -51px;
  }
}

.nav-support {
  width: 62px !important;
  background: url('support.png') 0 0;
  i {
    margin-left: 8px;
  }
  &:hover {
    background: url('support.png') 0 -51px;
  }
}

.nav-desktop {
  background: url('desktop.png') 0 0;
  &:hover {
    background: url('desktop.png') 0 -51px;
  }
}

.nav-user {
  width: 62px !important;
  background: url('user.png') 0 0;
  i {
    margin-left: 12px;
  }
  &:hover {
    background: url('user.png') 0 -51px;
  }
}

@media (max-width: 500px) {
  .mainmenu > li {
    max-width: 40%;
  }
}

@media (min-width: 1300px) {
  body {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.activeDropDown {
  display: block;
  > div {
    display: block !important;
    z-index: 999 !important;
    > ul {
      display: block !important;
      z-index: 999 !important;
    }
  }
}

.activeDropDown2 {
  display: block;
  z-index: 999;
}

.currentMenu {
  border-top: 3px solid @brand-primary-color !important;
  background: #fff;
  & > a {
    color: @brand-primary-color !important;
  }
}

